@tailwind base;
@tailwind components;
@tailwind utilities;


.stopbtnpulse{
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    from{
        background: white;
    }
    to{
        background: #ffffff95;
    }
    
}

.graphicelem{
    z-index: 2;
    position: relative;
}
.graphicelem:first-of-type::after{
    display: none;
}
.graphicelem::after{
    position: absolute;
    content: '';
    width: 50px;
    height: 3px;
    z-index: 1;
    left:-50px;
    top:50%;
    transform: translateY(-50%);
    background: rgb(75 85 99);
}

.yearhovereffect:hover .hovereffectchild {
    fill: white;
}
.transitionspeed{
    transition: 0.15s ease-in;
}
.customgridarea{
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}