@tailwind base;
@tailwind components;
@tailwind utilities;


.stopbtnpulse{
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    from{
        background: white;
    }
    to{
        background: #ffffff95;
    }
    
}